@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

:root {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Inter";
  --color-primary: hsl(75, 94%, 57%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-light-white: hsl(0, 0%, 76.47%);
  --color-neutral-grey: hsl(0, 0%, 20%);
  --color-neutral-dark-grey: hsl(0, 0%, 12%);
  --color-neutral-off-black: hsl(0, 0%, 8%);
  --color-attribution-link: hsl(201.27deg 45% 44%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  color: var(--color-neutral-white);
}

body.app {
  background: var(--color-neutral-off-black);
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  min-height: 100vh;
  justify-content: center;
}

main {
  background: var(--color-neutral-dark-grey);
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  padding: 24px;

  @media (min-width: 768px) {
    padding: 40px;
    width: 384px;
  }

  & div.avatar-container {
    & img {
      border-radius: 50%;
      width: 30%;
    }
  }

  & div.copy {
    margin: 24px 0;

    & p.copy-location {
      color: var(--color-primary);
      font-weight: bold;
      font-size: 16px;
    }

    & div.copy-quote-container {
      margin-top: 24px;

      & p.copy-quote {
        margin-top: 24px;
        color: var(--color-neutral-light-white);
      }
    }
  }

  & h1 {
    line-height: 4rem;
  }

  & .button-container {
    display: flex;
    flex-direction: column;
  }

  & button {
    background: var(--color-neutral-grey);
    color: var(--color-neutral-white);
    padding: 15px;
    border-style: hidden;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.25s linear;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:hover {
      background: var(--color-primary);
      color: var(--color-neutral-grey);
      cursor: pointer;
    }
  }
}

.attribution {
  position: relative;
  top: 30px;
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: var(--color-attribution-link);
}
